<div class="container">

    <div class="page-header">
        <h1>
            <small>Device List Info</small>
        </h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">

                <form class="form-inline" action="/app/list" method="post">
                    <div class="form-group">
                        <label class="sr-only" for="domain_code">Group</label>
                        <input type="text" class="form-control" name="DomainCode" id="domain_code" value="{{.domain_code}}"
                               placeholder="Domain Code">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="device_host">DeviceHost</label>
                        <input type="text" class="form-control" name="DeviceHost"  id="device_host" value="{{.device_host}}"
                               placeholder="Device Host">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="user_name">UserName</label>
                        <input type="text" class="form-control" name="UserName" id="user_name" value="{{.user_name}}"
                               placeholder="User Name">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon  glyphicon-search"
                                                                        aria-hidden="true"></span></button>
                </form>

            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>DomainCode</th>
                    <th>HostName</th>
                    <th>IP</th>
                    <th>User</th>
                    <th>AppName</th>
                    <th>AppVersion</th>
                    <th>AppPorts</th>
                    <th>Active</th>
                    <th>Detail</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>

                <tbody>
                {{range $index,$element :=.apps}}
                <tr>
                    <td>{{$element.DomainCode}}</td>
                    <td>{{$element.HostName}}</td>
                    <td>{{$element.IP}}</td>
                    <td>{{$element.User}}</td>
                    <td>{{$element.AppName}}</td>
                    <td>{{$element.AppVersion}}</td>
                    <td>{{$element.AppPorts}}</td>
                    <td>
                        {{if $element.IsActivity}}
                        <input id="switch-onText" value="{{$element.AppId}}" type="checkbox" checked data-size="mini"
                               data-on-text="start" data-off-text="stop">
                        {{else}}
                        <input id="switch-offText" value="{{$element.AppId}}" type="checkbox" data-size="mini"
                               data-on-text="start" data-off-text="stop">
                        {{end}}
                    </td>
                    <td><a type="button" href="/app/info/{{$element.AppId}}" class="btn btn-default btn-sm"><span
                            class="glyphicon  glyphicon-eye-open" aria-hidden="true"></span></a></td>
                    <td><a type="button" href="/app/edit/{{$element.AppId}}" class="btn btn-warning btn-sm"><span
                            class="glyphicon  glyphicon-cog" aria-hidden="true"></span></a></td>
                    <td><a type="button" att="{{$element.AppId}}" class="btn btn-danger btn-sm btn_delete"><span
                            class="glyphicon  glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="11">
                        <span class="text-center">no app record</span>
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/static/js/app/list.js"></script>